body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffc1cc,#ff8fab);
    font-family:'Segoe UI', sans-serif;
}

/* Phong thư */
.envelope{
    position:relative;
    width:450px;
    height:300px;
    background:#ff6f91;
    border-radius:10px;
    cursor:pointer;
    transition:0.5s;
}

/* Nắp thư */
.flap{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    border-left:225px solid transparent;
    border-right:225px solid transparent;
    border-bottom:150px solid #ff8fab;
    transform-origin:top;
    transition:0.6s;
}

/* Lá thư trắng */
.letter{
    position:absolute;
    width:90%;
    background:white;

    top:50%;
    left:50%;
    transform:translate(-50%, 40px);

    padding:40px;
    box-sizing:border-box;
    border-radius:20px;

    font-size:18px;
    line-height:1.8;
    color:#444;
    text-align:center;

    opacity:0;
    transition:0.8s;
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

/* Khi mở */
.envelope.open .flap{
    transform:rotateX(180deg);
}

.envelope.open .letter{
    transform:translate(-50%, -200px);
    opacity:1;
}
